body
{
	margin: 0;
}


.wrapper
{
	width: 100%;
    height: 100%;
    position: absolute;

	background: linear-gradient(45deg, #714382, #7B404B, #D2745F, #E4B26D);
	background-size: 600% 100%;
	animation: gradient 15s linear infinite;
    animation-direction: alternate;

	font-family: 'Tinos', serif;
}

@keyframes gradient 
{
    0% {background-position: 0%}
    100% {background-position: 100%}
}


hr
{
	width: 50%;
	margin: 0px;
	color: #fbeed5;
}



/*Header*/
#header
{
	width: 100%;

	position: fixed;

	z-index: 3;

	top: 0;
	left: 0;

	background: transparent;

	margin: 0;
}

#header img
{
	width: 30%;

	display: block;
    margin: auto;

    object-fit: contain;

    padding: 3% 0% 0% 0%;
}
/*--------*/



/*Sidebar*/
#sidebar
{
	height: 100%;
	width: 25%;

	position: fixed;

	z-index: 2;

	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	padding: 10% 0% 0% 20%;

	background: transparent;

	font-weight: bold;
	font-size: 20px;
}

#sidebar img
{
	width: 50%;
}

#sidebar ul
{
	list-style: none;


}

#sidebar ul a
{
	text-decoration: none;
	color: #fbeed5;
}

#sidebar ul a:hover
{
	color: #fcd884;
}

#sidebar ul a:active
{
	color: #7b404b;
}
/*--------*/



/*Hamburger*/
#hamburger
{
	z-index: 4;

	width: 10%;

	position: fixed;


	padding: 5% 0 0 5%;

	background: transparent;

	color: white;
	font-size: 30px;


}

#hamburger a
{
	text-decoration: none;
	color: white;
}
/*--------*/



/*Menu*/
#menu
{
	height: 100%;
 	
	position: fixed;

	z-index: 2;

	top: 10%;
	right: 0;
	left: 0;
	bottom: 0;

	overflow-x: hidden;

	background: #7b404b;

	font-size: 20px;
	font-weight: bold;
}

#menu a
{
	text-decoration: none;
}

#menu ul
{
	list-style: none;
}


#menu ul a
{
	text-decoration: none;
	color: #fbeed5;
}

#menu ul a:active
{
	color: #ef8a7d;
}
/*--------*/



/*textarea tabs (poems, about, etc...)*/
#textarea
{
	position: absolute;

	z-index: 1;

	top: 0;
	right: 0;
    bottom: 0;
    left: 30%;

    padding: 0% 20% 10% 20%;

    display: flex;

    overflow-y: scroll;

    color: #fbeed5;

	background: transparent;
}

#textarea iframe
{
	width: 100%;
}
/*--------*/



/*about tab*/
#abouttab
{
	text-align: justify;
}


#abouttab b
{
	text-shadow: 2px 2px #7b404b;
}

#abouttab a
{
	text-decoration: none;
	text-shadow: 2px 2px #714382;
}

.videoWrapper 
{
    position: relative;
    padding-bottom: 75

    %; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.videoWrapper iframe 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*--------*/


/*signature inside the about tab*/
#signature
{
	font-weight: bold;
	font-style: italic;
	text-align: right;
}
/*--------*/



/*For desktop*/
@media all and (orientation:landscape)
{
	#header, #hamburger, #menu, #abouttab, #trailertab
	{
		display: none;
	}
}
/*--------*/



/*For mobile*/
@media all and (orientation:portrait)
{
	body
	{
		font-size: 14px;
	}

	#sidebar, #menu, #abouttab, #trailertab
	{
		display: none;
	}


	#textarea
	{
		top: 10%;
		left: 0%;

		padding: 10% 5% 10% 5%;
	}

}
/*--------*/
